.container_word_table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.table{
width: 343px;
height: 563px;
margin-bottom: 32px;
background: var(--white);
}