.editwords_modal_container {
    border-radius: 15px;
    background: var(--green);
    max-width: 342px;
    width: 100%;
    padding: 16px 16px 48px 16px;

    display: flex;
    flex-direction: column;
}
.close_btn {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: auto;
    margin-bottom: 8px;

}

.close_icon {
    width: 32px;
    height: 32px;
    stroke: currentColor;
    fill: none;
}


.title_wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: var(--white);
}

.descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--white);
}

/* Це поле, яке ти бачиш у закритому стані.*/
:global(.custom-sel__control) {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 311px;
    width: 100%;
    height: 48px;
    background-color: transparent;
    margin-bottom: 8px;

    border: 1px solid #d1d5db;
    border-radius: 15px;
    padding: 12px 24px;
}

/* Це текст Categories, коли нічого не обрано. */
:global(.custom-sel__placeholder) {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--white);
}

/* Це текст обраної категорії */
:global(.custom-sel__single-value) {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--white);
}

/* Тут знаходиться SVG-стрілка. */
:global(.custom-sel__dropdown-indicator) {
    width: 20px;
    height: 20px;
    color: var(--white);
}


/* Меню (обгортка) */
:global(.custom-sel__menu) {
    border-radius: 15px;
    width: 350px;
    height: 240px;

    padding: 12px 18px 12px 24px !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    box-shadow: 0 4px 47px 0 rgba(18, 20, 23, 0.08);
    background: #fff;
}

/* список в випадаючому меню */
:global(.custom-sel__menu-list) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    max-height: 216px !important;
    width: 280px;
    gap: 8px !important;
    padding: 0px 18px 12px 0px !important;

}

/* ширина місце для скролу */
:global(.custom-sel__menu-list::-webkit-scrollbar) {
    width: 8px !important;
}

/* трек */
:global(.custom-sel__menu-list::-webkit-scrollbar-track) {
    background-color: transparent !important;
    border-radius: 12px !important;
}

/* бігунок */
:global(.custom-sel__menu-list::-webkit-scrollbar-thumb) {
    background: rgba(18, 20, 23, 0.3);
    width: 8px !important;
    height: 101px !important;
    border-radius: 12px !important;
}

/* ховер по бігунку */
:global(.custom-sel__menu-list::-webkit-scrollbar-thumb:hover) {
    background: rgba(18, 20, 23, 0.6);
}

/* текст в випадаючому меню */
:global(.custom-sel__option) {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: rgba(18, 20, 23, 0.5);
}

:global(.custom-sel__option--is-focused) {
    color: var(--green);
}

.block_radio_verbs {
    margin-bottom: 32px;
}

.input_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 8px;
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 14px;
    color: var(--white);
}

.input_form {
    border: 1px solid #d1d5db;
    border-radius: 15px;
    padding: 12px 196px 12px 24px;
    max-width: 311px;
    width: 100%;
    height: 48px;
    background-color: transparent;
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--white);
}

.input_form::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--white);
}


.input_form.error {
    border: 1px solid #d80027;
}

.input_form.correct {
    border: 1px solid #d1d5db;
}

.block_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;

}

.btn_add {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 12px 63px;
    max-width: 159px;
    width: 100%;
    height: 48px;
    color: var(--black);
    cursor: pointer;
    outline: none;
    border: none;


}

.btn_add:hover,
.btn_add:focus {
    color: var(--green);
}

.btn_cnsl {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(252, 252, 252, 0.4);
    border-radius: 30px;
    padding: 12px 45px;
    max-width: 145px;
    height: 48px;
    width: 100%;
    color: var(--white);
    background-color: transparent;
    cursor: pointer;
    outline: none;
    
    transition: background-color 0.8s ease, color 0.8s ease;
}

.btn_cnsl:hover,
.btn_cnsl:focus {
     background-color: var(--white);
     color: var(--black);
     border-color: transparent;
}