.container_pagination {
    max-width: 326px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.active {
    border-radius: 8px;
    padding: 10px;
    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 13px;
    color: #fff;

    background: var(--green);
}

.normal {

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 8px;
    padding: 10px;
    width: 32px;
    height: 32px;
    background-color: transparent;

    font-weight: 600;
    font-size: 13px;
    color: var(--black);
}

.disabled {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 8px;
    padding: 10px;
    width: 32px;
    height: 32px;
    background-color: transparent;

    font-weight: 600;
    font-size: 13px;
    color: grey;
}