.menu_backdrop {
    background-color: transparent;
}

.menu_modal {
    width: 185px;
    height: 812px;
    background: var(--green);
    padding: 16px 16px 0px 16px;
}

.user_bar_container {
    display: flex;
    flex-direction: row;
    align-items: center;
   
  
   
}

.user_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.user_name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--white);
}

.icon_wrap {
    border-radius: 30px;
    width: 36px;
    height: 36px;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_icon {
    width: 20px;
    height: 20px;
    fill: var(--green);
    ;
}

.close_btn {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: auto;
  
}

.close_icon {
    width: 32px;
    height: 32px;
    stroke: currentColor;
    fill: none;
}